html {
    transform-origin: center center;
    transform: scale(1); 
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    color:#36364A;
    background-color: #f0f0f0;
}
#app {
    margin-top: 16px;
    margin-bottom: 16px;
    user-drag: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none; /* IE 10+ */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
#canvas-container {      
    position: relative;
    width: 720px;
    height: 720px;
    cursor: none !important;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #505050;
}
#cursor {
    position: absolute;
    pointer-events: none;
    border-width: 2px;
    border-style: solid;
    border-color: #FFF;
    border-radius: 50%;
    mix-blend-mode: difference;
}
#controls-top {
    margin-top: 24px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    max-width: 720px;
}
.top-left-buttons {
    display: flex;
    gap: 0px;
}
.top-right-buttons {
    display: flex;
    margin-left: auto;
}
#controls1 {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0px;
    max-width: 750px;
}
#controls2 {
    margin-top: 40px;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 0px;
    justify-content: center;
}
#hashtag-line {
    height: 24px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0px;
}
#share-text {
    font-size: 20px;
    color: #AAAAAA;
    letter-spacing: 0.4rem;
    margin-left: 20px;
    text-align: center;
} 
#message-line {
    display: none;
    height: 24px;
    font-size: 20px;
    font-weight: bold;
    color: #AAAAAA;
    letter-spacing: 0.1rem;
    justify-content: center;
    text-align: center;
    margin-left: 16px;
}        
button {
    height: 42px;
    width: 42px;
    cursor: pointer;
    border: 1px solid #36364A;
    border-radius: 4px;
}   
.pen-btn {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-right: 4px;
    padding: 6px 6px 6px 6px;
    background-color: #36364A;
}     
.pen-eraser-btn {        
    background-color: #F9F9F9;    
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 6px 6px 6px 6px;
    margin-right: 16px;
}
.color-eraser-btn {
    background-color: #F2EEE6;    
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 6px 6px 6px 6px;
    margin-left: 4px;
    margin-right: 16px;
}
.undo-btn {
    display: flex;
    justify-content: center; 
    align-items: center;
    border: 0px solid #36364A;
    border-radius: 4px;
    background-color: #f0f0f0;
    padding: 6px;
}
.undo-btn:disabled{
    outline: 0px solid #36364A;
} 
.undo-btn:hover{
    background-color: #E0E0E0;
}
.undo-btn:active{
    padding: 7px;
}
.controls-top-btn {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 32px;
    width: 32px;
    border: 0px solid #36364A;
    border-radius: 4px;
    background-color: #f0f0f0;
    padding: 4px;
    color: #36364A;
}
.controls-top-btn:hover{
    background-color: #E0E0E0;
}
.controls-top-btn:active{
    opacity: 0.8;
    padding: 5px;
}
.mistodon-btn {
    justify-content: center; 
    align-items: center;
    border: 0px solid #36364A;
    border-radius: 4px;
    background-color: #f0f0f0;
    height: 48px;
    width: 48px;
    margin-left: 4px;
    margin-right: 4px;
    padding: 0px 0px 1px 0px;
}
.copy-sharetext-btn {
    display: flex;
    justify-content: center; 
    background-color: #f0f0f0;
    height: 16px;
    width: 16px;
    border:0px;
} 
.copy-sharetext-btn .icon{
    opacity: 0;
    height: 100%
} 
.copy-sharetext-btn:hover .icon{    
    opacity: 0.3;
} 
.tool-reset-btn {
    position: relative;
    top: 16px;
    padding: 0px 0px 0px 0px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: 4px;
}
.active {
    outline: 3px solid #000000;
    position: relative;
    top: -16px;
    z-index: 10;
    border-radius: 50%;
}
#tool-size {
    width: 96px;
    margin-right: 16px;
    margin-left: 16px;
    vertical-align: middle;
}
#opacity {
    position: relative;
    width: 10px;
    height: 40px;
    vertical-align: middle;
    writing-mode: vertical-lr;
    direction: rtl;
    margin-right: 4px;
}
#palette {
    position: relative;
    top: 12px;
    width: 20px;
    height: 30px;
    cursor: pointer;
    border: 1px solid #36364A;
    border-radius: 4px;
}
#progress-bar-line{
    margin-top: 2px;
    display: flex;
    justify-content: center; 
    visibility: hidden;
}
.progress-bar{
    width: 200px; 
}
#manual-container {
    margin-top: 16px;
    margin-bottom: 16px;
}
#manual-content {
    position: relative;
    width: 720px;
    height: 720px;
    margin-bottom: 16px;
    color: #36364A;
    border: 1px solid #505050;
    background-color: #F2EEE6;
    box-sizing:border-box;
    padding: 32px 64px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-content {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(18, 18, 21);
    padding: 20px;
    padding-top: 10px;
    border-radius: 4px;
    width: 360px;
}

.dialog-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-dialog-button{
    background-color: rgb(18, 18, 21);
    color: #9C9CC9;
    justify-content: center; 
    align-items: center;
    height: 32px;
    width: 32px;
    border: 0px solid #36364A;
    font-size: 24px;
}
.close-dialog-button:hover{
    color: #FFFFFF;
}

#destination-server-name {
    margin-left:auto;
    font-size: 16px;
    color: #DDD9E8;
    font-family: inherit;
}

#destination-server-reset-button {
    padding: 0px;
    height: 14px;
    width:  14px;
    margin-left: 4px;
    justify-content: center; 
    align-items: center;
    cursor: pointer;
    border: 0px solid #36364A;
    background-color: inherit;
    border-radius: 4px;
}

#destination-server-select {
    width: 240px;
    height: 42px;
    border: 0px solid #ddd;
    border-radius: 4px;
    background-color: rgb(29, 29, 38);
    text-align-last: center;
    font-size: 16px;
    font-weight: bold;    
    color: #DDD9E8;
    cursor: pointer;
}

#destination-server-auth-btn {
    padding: 0px;
    width: 100px;
    height: 42px;
    background-color: #6364ff;
    color: white;
    font-size: 16px;
    font-weight: bold;    
    border: none;
    cursor: pointer;
}

#preview-img {
    border-radius: 8px;
    border: 0px solid  rgb(18, 18, 21);
}

textarea {
    margin-bottom: 8px;
    margin-top: 8px;
    width: 344px;
    padding: 8px;
    background-color: rgb(29, 29, 38);
    border: 0px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    color: #DDD9E8;
    resize: vertical;
    font-family: inherit;
}

#visibility-select {
    width: 48px;
    border: 0px solid #ddd;
    border-radius: 4px;
    background-color: rgb(29, 29, 38);
    font-size: 16px;
    color: #DDD9E8;
    cursor: pointer;
}

.select-container {
    display: flex;
    justify-content: space-between;
}

input[type="checkbox"] {
    display: none;
}

.checkbox-label {
    display: flex;
    align-items: center;
    margin-left: 8px;
    margin-right: auto;
    cursor: pointer;
    padding: 4px;

    color: #505050;
    font-size: 14px;

    border: 0px solid #ddd;
    border-radius: 4px;
    background-color: rgb(29, 29, 38);
    filter: grayscale();
}

#enable-CW-checkbox:checked ~ .checkbox-label{
    background-color:#6364ff;
    color:#EBECFF;
    filter: none;
}

.submit-button {
    padding: 0px;
    width: 160px;
    height: 42px;
    background-color: #6364ff;
    color: white;
    font-size: 16px;
    font-weight: bold;    
    border: none;
    cursor: pointer;
}
.submit-button:hover {
    background-color: #563ACC;
}